<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="OkraTests">
            <exclude>./tests/Support</exclude>
            <directory>tests</directory>
        </testsuite>
        <testsuite name="EntityTests">
            <directory>tests/Support</directory>
        </testsuite>
    </testsuites>
</phpunit>
